body{
    padding: 100px;
}
.submit-area{
    margin-top: 100px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
.box{
    color: white;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdrow{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
#transection-area{
    display: none;
}